.foto1 {
    background-image: url("../FotosNYSL/campo.jpg");
}

.foto2 {
    background-image: url("../FotosNYSL/campo3.jpg");
    height: 637px;


}

.foto3 {
    background-image: url("../FotosNYSL/contactUs.jpg");

}

img.mediana {
    height: 194px;
    width: 200px;
}

img.medianaContact {
    height: 169px;
    width: 173px;
    align-content: center;
    position: relative;
    top: 122px;
}
.zoom{
    transition: transform 0.5s;
}

.zoom:hover{
    transform: scale(1.5);
}
div.flags {
    text-align: center;
    opacity: inherit;
}

img.banderas {
    height: 100px;
    width: 263px;
    align-content: center;
}

h1.tipo1 {
    text-align: left;
    font-size: 55px;
    margin: 0;
    width: 1000px;
    height: 61px;
    font-family: "Homer Simpson", cursive;

}

h1.tipo2 {
    text-align: left;
    font-size: 55px;
    margin: 0;
    width: auto;
    height: 78px;
    font-family: "Homer Simpson", cursive;
    background: white;
}

h1.tipo3 {
    text-align: left;
    font-size: 55px;
    margin: 0;
    width: 1333px;
    height: 78px;
    font-family: "Homer Simpson", cursive;
    background: white;
}

h2.tipo1 {
    text-align: center;
    font-size: 30px;
    border: 5px solid black;
    margin: 0;
    background: white;
}



div.boton {
    text-align: right;
    position: relative;
    z-index: 1;


}

div.texto {
    height: 291px;
    width: 510px;
    font-family: cursive;
    background: #756e6e63;
    color: aqua;
    box-shadow: -13px -9px 15px 6px white;
}

div.textoAbout {
    height: 310px;
    width: 1020px;
    font-size: 14px;
    color: aqua;
    font-family: cursive;
    background: #756e6e63;
    box-shadow: -13px -9px 15px 6px white;
}

div.textoContact {
    font-size: 27px;
    width: 500px;
    background: #756e6e63;
    color: aqua;
    font-family: cursive;
    box-shadow: -13px -9px 15px 6px white;
}

.textoColor1 {
    color: aqua;
}


p.ballPosition {
    font-family: cursive;
    color: #0e0e0e;
    ;
    position: relative;
    top: 4px;
    left: 19px;
}

a.ball {

    text-decoration: none;
}

.iconos {
    height: 25px;
}

.casa {
    height: 93px;
    width: 93px;
    position: relative;
    left: 860px;
    bottom: 71px;
    background-repeat: no-repeat;
    text-decoration: none;
}

.casaRules {
    height: 90px;
    width: 93px;
    position: relative;
    left: 851px;
    bottom: 71px;
    background-repeat: no-repeat;
    text-decoration: none;
}

.porteria {
    height: 98px;
    width: 150px;
    position: absolute;
    top: 22px;
    right: 260px;
    background-repeat: no-repeat;
    text-decoration: none;
}

.contacto {
    height: 90px;
    width: 93px;
    position: absolute;
    right: 202px;
    top: 15px;
    background-repeat: no-repeat;
    text-decoration: none;
}



.rules {
    position: absolute;
    top: 13px;
    right: 135px;
}

.info {
    position: absolute;
    top: 13px;
    right: 48px;
}

.buttonForm {
    background-color: white;
    font-family: cursive;
    color: black;
    text-decoration: none;
}

ul.square {
    list-style-type: square;
}

ol.alpha {
    list-style-type: lower-alpha;
}

ul.circle {
    list-style-type: circle;
}

div.centre {
    text-align-last: center;
}

div.textoRules {
    box-shadow: -13px -9px 15px 6px white;
}

.bodyRules {
    margin-bottom: 100px;
    background-color: cadetblue;
}

.iconosRules {
    position: relative;
    top: 54px;
    right: 438px;
    text-align: center;
    width: auto;
    height: 84px;
}

table {
    width: 500px;
    border-collapse: separate;
    border-spacing: 4px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;

}

table,
th,
td {
    border: 1px solid #cecfd5;
}

.padreH3 {
    width: 99%;
    display: flex;
    justify-content: center
}

.hijoH3 {
    width: 50%;
}

.padreButton {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.hijoButton {
    padding: 10px
}

.padreData {
    width: 99%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.hijoData1 {
    margin: 5px;
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.padreSchool {
    width: 99%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.hijoSchool {
    padding: 10px;
    width: 57%;
    display: flex;
    justify-content: space-around;
}

.hijoSchool2 {
    display: flex;
    flex-direction: row;
}

.padrePlay {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hijoPlay {
    padding: 10px;
    width: 38%;
    display: flex;
    justify-content: space-between
}

.padreUniform {
    width: 99%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.hijoUniform {
    padding: 10px;
    width: 67%;
    display: flex;
    justify-content: space-around;
}

.hijoUniform2 {
    display: flex;
    flex-direction: row;
}

.padreText {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.hijoText {
    width: 51%;
    display: flex;
    justify-content: space-between;
}

.divRegistro {
    text-align: center;
    height: 25px;
}

select {
    box-shadow: 3px 2px 13px 6px black;
}

td {
    text-align: center;
}

.inputAddress {
    width: 557px;
}

ul {
    margin-bottom: 0px;
    margin-top: 0px;
}

.inputGuardian {
    width: 546px;
}

.gridContainer {
    display: grid;
    grid-template-columns: 20% 40% 40%;
    grid-template-rows: auto auto auto;
    grid-row-gap: 27px;
}

.gridContainerRules {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: auto auto auto auto;
    grid-row-gap: 27px;
}

.elementGrid1 {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2
}

.elementGrid2 {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
}
.elementGridRules {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
}
.gridMaps {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto auto;
}

.item1GridInformation {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.item1GridInformation2 {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

.item1GridInformation3 {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
}


.flexInformation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-bottom: 6px solid white;
}

.flexInformation2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mapa {
    text-align: center;
    padding: 30px;
}
